################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InsuranceClaimsHandlingApp/InsuranceClaimsHandlingApp/bin/Debug/netcoreapp3.1
